*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

#background{
    height: 100vh;
    background-size: cover;
    background-image: url(https://www.zdnet.com/a/img/resize/a0dcec40a8cd8d2e1b3a9e12a05c2819622d20be/2021/07/19/8a337c80-5ed6-43a1-98fb-b981d420890f/programming-languages-shutterstock-1680857539.jpg?auto=webp&fit=crop&height=1200&width=1200);
    position: relative;
}

#title{
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
}